---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
    title: string;
}

const {title} = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="App to track gym routines and daily diet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>{title}</title>
</head>
<body class="font-sans antialiased bg-gray-50 min-h-screen flex flex-col">
<Header/>
<main class="flex-1">
    <slot/>
</main>
</body>
<Footer/>
</html>

<style is:global>
    html {
        font-family: system-ui, sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #f9fafb;
    }
</style>

