---
import DailyPlanTab from "../../components/DailyPlanTab.astro";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Daily Plan - Gym Tracker">
    <main class="min-h-screen bg-gray-50">

                <DailyPlanTab />

    </main>
</Layout>
