---
import Layout from '../../layouts/Layout.astro';
import DailyPlanTab from '../../components/DailyPlanTab.astro';
import NutritionHeader from '../../components/NutritionHeader.astro';
---

<Layout title="Nutrición - Gym Tracker">
    <main class="min-h-screen bg-gray-50">
        <!-- Header -->
        <NutritionHeader/>
            <!-- Tab Content -->
            <div id="daily-content" class="p-4">
                <DailyPlanTab />
            </div>
    </main>

</Layout>
